html {
    display: block;
}

body {
    background-color: black;
    display: block;
    margin: auto;
}

header {
    color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
}

div {   
    margin-top: 4rem;
    color: bisque;
    text-align: center;
}

iframe {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    object-fit: contain;
}